<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel">
				<div class="panel-heading login">
					<h3 class="panel-title">Autor:</h3>
				</div>
				<div class="panel-body login"> 
					<div class="form-group">
						<label><%= author.name %></label>
					</div>
					<div class="form-group ">
						<img src="<%= author.photo %>" alt="Yo" class="center-block img-rounded" width="128" height="128"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

