<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>QUIZ</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css'/>
</head>
<body>
	<div id="container">
		<header>
			<div class="nav">
				<nav>
					<ul class="navbar">
						<li ><a href="/" >Inicio</a></li>
						<li><a href="/question">Preguntas</a></li>
						<li ><a href="/author">Autor</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<!-- <div class="main">
	</div> -->

	<section>
		<div>
			<%- body %>
		</div>
	</section>

	<footer>
		<div class="footer">
			<a href="https://github.com/shhx">Github del proyecto</a>
		</div>
	</footer>
</body>
</html>

