*{ margin: 0; padding: 0; }

body{ 
  padding-top:20px;
  font: 16px Georgia, serif; 
  color: #aaaaaa;
  background: #333333;
}


footer {
  text-align: center; 
  padding-top: 5px; 
  border-radius: 5px; 
  margin-top: 20px;
}

.jumbotron{
  background: #222;
}

.login{
  background-color: #222;
  border: none;
  color: #aaaaaa;
}

.list{
  background-color: #333333;
  color: #aaaaaa;
}

.main{ 
  /*border: 1px solid #999; */
  padding: 1%;
  margin-bottom: 1px;
  background: #222;
  border-radius: 5px; 
}

.btn-space {
  margin-right: 5px;
}

.no-margin{
  margin-right: 0px;
  margin-left: 0px;
}

h3.panel-title {
    font-size: 24px;
}

.right{
  float: right;
}

#flashinfo {
  width: 450px;
  border: 2px solid blue;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000; 
}

#flashinfo h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #00c;
}

#flashinfo ul li {
  margin: 5px 5px 5px 15px;
  font-size: 12px;
  list-style: square; 
}


#flashsuccess {
  width: 450px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000; 
}

#flashsuccess h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #0c0;
}

#flashsuccess ul li {
  margin: 5px 5px 5px 15px;
  font-size: 12px;
  list-style: square; 
}

#flasherror {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000; 
}

#flasherror h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
}

#flasherror ul li {
  margin: 5px 5px 5px 15px;
  font-size: 12px;
  list-style: square;
}