<div class="well list">
 	La respuesta <strong> <%= answer %> </strong> es <%= result %>.
</div>
<a href="/quizzes/<%= quiz.id %>?answer=<%= answer %>" type="button" class="btn btn-md btn-primary"> Inténtelo otra vez </a>
